<launch>
  <node pkg="object_follower" type="object_follower_move_base_node" name="object_follower" output="screen">

    <param name="base_frame" value="map"/>
    <param name="object_frame" value="object"/>
    <param name="range_diff_to_set_new_pose" value="0.2"/>
    <param name="yaw_diff_to_set_new_pose" value="15.0"/>
    <param name="tf_wait" value="1.0"/>
    <param name="goal_dist_from_obj" value="1.0"/>

    <!-- See OrientationType --> 
    <param name="object_orientation" value="1"/>

  </node>
</launch>
