<launch>

  <include file="$(find object_follower)/launch/object_follower.launch">
    <arg name="generator_type" value="nearest_2d"/>
    <arg name="publisher_type" value="tf"/>
    <arg name="cheker_type" value="default"/>
    <arg name="base_frame" value="map"/>
  </include>

  <node pkg="object_follower" type="test_tf_publisher_node" name="object_follower_test" output="screen">
    <param name="is_x_forward" type="bool" value="false"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>
</launch>

