<launch>
  <include file="$(find object_follower)/launch/object_follower_tf.launch"/>

  <node pkg="object_follower" type="test_tf_publisher_node" name="object_follower_test" output="screen">
    <param name="is_x_forward" type="bool" value="true"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>
</launch>

