[submodule "rosbot_description"]
	path = rosbot_description
	url = https://github.com/husarion/rosbot_description.git
[submodule "rosbot_ekf"]
	path = rosbot_ekf
	url = https://github.com/husarion/rosbot_ekf.git
[submodule "m-explore"]
	path = m-explore
	url = https://github.com/hrnr/m-explore.git
[submodule "object_follower/doc/html"]
	path = object_follower/doc/html
	url = https://github.com/artofnothingness/object_follower_docs.git
