
<launch>

  <arg name="config_0"                        default="~/.ros/orb-drone.ini"/>>

  <arg name="logo_dir"                        default="~/.ros/aerobot_logo"/>>    <!-- CHANGE ME PLS!!!! -->	

  <node name="find_object_2d_0" pkg="find_object_2d" type="find_object_2d" output="log">
    <remap from="image"                       to="/d435_down/color/image_raw"/>
    <param name="gui"                         value="true" type="bool"/>
    <param name="objects_path"                value="$(arg logo_dir)" type="str"/>         
    <param name="config_file"                 value="$(arg config_0)" />
  </node>


    <arg name="camera"                    default="d435_down"/>    
    <arg name="serial_no_camera"          default="832112071634"/> 

    <arg name="fps"                   default="15"/>

    <!-- <arg name="d435_config_file"      default="$(find fastsense_px4)/configs/$(arg d435_config_file)"/> -->
    <arg name="d435_config_file"      default=""/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera"                      value="$(arg camera)" />
        <arg name="serial_no"                   value="$(arg serial_no_camera)" />
        <arg name="pointcloud_texture_stream"   value="RS2_STREAM_ANY"/>  
        <arg name="filters"                     value="decimation,temporal" />
		<arg name="color_width"         default="1280"/>
		<arg name="color_height"        default="720"/>        
        <arg name="enable_infra1"               value="false"/>
        <arg name="enable_infra2"               value="false"/>
        <arg name="enable_color"                value="true"/>
        <arg name="enable_depth"                value="false"/>
        <arg name="enable_pointcloud"           value="false"/>
        <arg name="depth_width"                 value="640"/>
        <arg name="depth_height"                value="480"/>
        <arg name="align_depth"                 value="false"/>
        <arg name="initial_reset"               value="true"/>
        <arg name="clip_distance"               value="5"/>
        <arg name="json_file_path"              value="$(arg d435_config_file)"/>
        <arg name="depth_fps"                   value="$(arg fps)"/>
        <arg name="infra_fps"                   value="$(arg fps)"/>
        <arg name="color_fps"                   value="$(arg fps)"/>
    </include>


</launch>
